# Node modules, just in case
node_modules/

# OS junk
.DS_Store
Thumbs.db

# AWS credential files if present
*.tfvars
*.pem

# Temp / debug / backup files
*.log
*.bak
*.tmp

# Powershell history or PS temp files
*.ps1~

# Your GitHub Action log (if generated)
action.log